<html>
  <head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self'"/>
    <title>BayFiles</title>
    <link type="text/css" rel="stylesheet" href="./css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="./css/frame.css">
    <script src="./js/interface.js"></script>
  </head>
  <body>
    <% include frame.ejs %>
    <header><h1>BayFiles</h1></header>

    <center>
      <section>

    <input class="btn-styles" type="button" value="Select File">
    <input class="btn-styles" type="button" value="Upload">
<input type="button" value="Copy" style="background:none;border:none;color: #e1b12c;    font-size: 15px;">
<input type="text" class="txtbox" id="link" name="linkafterupload" required
       minlength="4" maxlength="8" size="60" value="Lien apres upload">
  </section>
</center>
  </body>
</html>
