<html>
  <head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self'"/>
    <title>BayFiles</title>
    <link type="text/css" rel="stylesheet" href="./css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="./css/frame.css">
    <script src="./js/interface.js"></script>
  </head>
  <body>
    <% include frame.ejs %>
  </body>
</html>
